In [2]:
import pandas as pd

print(f"Using pandas version number: {pd.__version__}")

Using pandas version number: 1.4.2

In [4]:
data = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet")

In [5]:
data.sample(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
2428071,1,2024-01-27 18:47:51,2024-01-27 19:05:00,1.0,2.40,1.0,N,163,246,1,17.00,5.0,0.5,2.00,0.0,1.0,25.50,2.5,0.0
2404665,1,2024-01-27 15:51:07,2024-01-27 16:13:35,1.0,3.60,1.0,N,236,107,1,23.30,5.0,0.5,5.95,0.0,1.0,35.75,2.5,0.0
2838350,1,2024-01-03 15:13:15,2024-01-03 16:08:24,NaN,14.80,NaN,None,233,132,0,63.18,0.0,0.5,0.00,0.0,1.0,67.18,NaN,NaN
1657429,2,2024-01-19 18:45:46,2024-01-19 18:50:29,1.0,0.59,1.0,N,236,262,1,6.50,2.5,0.5,2.60,0.0,1.0,15.60,2.5,0.0
2896717,1,2024-01-17 19:16:34,2024-01-17 19:38:29,NaN,0.00,NaN,None,209,142,0,32.16,0.0,0.5,0.00,0.0,1.0,36.16,NaN,NaN
1651485,2,2024-01-19 17:33:29,2024-01-19 17:45:13,1.0,1.57,1.0,N,48,164,1,12.10,2.5,0.5,3.72,0.0,1.0,22.32,2.5,0.0
2695569,2,2024-01-30 18:33:09,2024-01-30 18:44:03,1.0,1.61,1.0,N,68,230,2,11.40,2.5,0.5,0.00,0.0,1.0,17.90,2.5,0.0
2744287,2,2024-01-31 10:23:39,2024-01-31 10:36:00,1.0,1.20,1.0,N,48,161,1,11.40,0.0,0.5,3.08,0.0,1.0,18.48,2.5,0.0
6408,2,2024-01-01 01:40:23,2024-01-01 01:57:00,1.0,3.63,1.0,N,166,237,1,19.80,1.0,0.5,6.20,0.0,1.0,31.00,2.5,0.0
708805,1,2024-01-09 15:10:09,2024-01-09 15:14:19,2.0,0.70,1.0,N,113,107,1,6.50,2.5,0.5,2.10,0.0,1.0,12.60,2.5,0.0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2964624 entries, 0 to 2964623
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int32(3), int64(1), object(1)
memory usage: 395.8+ MB